CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
EntityX.cbp
benchmarks_test
cmake_install.cmake
dependencies_test
entity_test
entityx.pc
event_test
libentityx-d.so.1
libentityx-d.so.1.1.2
libentityx.so.1
libentityx.so.1.1.2
pool_test
system_test
tags_component_tests
tags_component_test
.*.dep
*.a
*.so
*.o
build/*
entityx/config.h
Makefile
html/
Vagrantfile
.vagrant
